

.your-favs-second-nav{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.title-favs {
    text-align: center;
}
.left-nav-area{
    display: flex;
    justify-content: center;
}

.div-card-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.coffee-card-favs{
    border-radius: 10px;
    width: 230px; /* or width: 24% */
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.coffee-card-favs:hover {
    box-shadow: 5px 5px 5px grey, -2px 0 5px lightgrey;
    transform: scale(1.02)
}

.favorite-coffees-image {
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 1200px) {
    /* make cards a certain size to fit only 2 */
    .coffee-card-favs{
        width: 24%;
    }
}

@media screen and (max-width: 900px) {
    /* make cards a certain size to fit only 2 */
    .coffee-card-favs{
        width: 49%;
    }
}
