

.banner-container {
  display: flex;
  justify-content: center;
  margin-top: .938rem;
}

.banner-image {
  background: url('./banner.jpg');
  background-size: 100%;
  height: 25rem;
  width: 100%;
  max-width: 82.75rem;
  border-radius: .6rem;
}

.landing-filters-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.landing-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-coffee-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
}

.coffee-landing-filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2px;
  margin-top: 5px;
}

.filter-button {
  width: 20rem;
  text-align: center;
}

.light {
  filter: brightness(150%)
}

.medium {
  filter: brightness(100%)
}

.dark {
  filter: brightness(50%);
}

.espresso {
  filter: brightness(30%);
}

.filter-button {
  width: 125px;
  transition: transform .2s ease-in;
  border-radius: 50%;
}

.filter-button:hover {
  cursor: pointer;
  border-radius: 2px;
  border-radius: 50%;
  color: black;
  font-weight: bold;
  transform: scale(1.05);

}

.filter-button-img {
  border-radius: 50%;
  width: 100px;
}

.landing-coffee-container a{
  text-decoration: none;
  color: black
}

.landing-page-coffee-image {
  width: 20rem;
  border-radius: .6rem;
}

.coffee-card-info {
  display: flex;
  justify-content: space-between;
}

.coffee-card-link p{
  margin: .2rem;
}

.coffee-card-link {
  transition: transform .2s ease-in-out;
}

.coffee-card-link:hover {
  border-radius: .6rem;
  box-shadow: 5px 5px 5px grey, -2px 0 5px lightgrey;
  transform: scale(1.01);
}

@media screen and (max-width: 85.5rem) {
  .landing-coffee-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@media screen and (max-width: 63.5rem) {
  .landing-coffee-container {
    grid-template-columns: 1fr 1fr;
  }
  .banner-image {
    background: url('/banner.jpg');
    background-size: 150%;
    height: 25rem;
    width: 100%;
    max-width: 82.75rem;
    border-radius: .6rem;
  }
}

@media screen and (max-width: 42.5rem) {
  .landing-coffee-container {
    grid-template-columns: 1fr;
  }
  .coffee-landing-filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    margin-top: 5px;
  }
  .banner-image {
    background: url('./banner.jpg');
    background-size: 200%;

    height: 15rem;
    width: 100%;
    max-width: 82.75rem;
    border-radius: .6rem;
  }


}
