

.banner-container {
  display: flex;
  justify-content: center;
  margin-top: .938rem;
}

.banner-image {
  height: 25rem;
  width: 100%;
  max-width: 82.75rem;
  border-radius: .6rem;
}

.landing-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-coffee-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
}

.coffee-landing-filters {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 5px;
  width: 30%;
}

.filter-button {
  width: 20rem;
}

.filter-button:hover {
  cursor: pointer;
  background-color: black;
  color: #f2eedc;
}


.landing-coffee-container a{
  text-decoration: none;
  color: black
}

.landing-page-coffee-image {
  width: 20rem;
  border-radius: .6rem;
}

.coffee-card-info {
  display: flex;
  justify-content: space-between;
}

.coffee-card-link p{
  margin: .2rem;
}

.coffee-card-link {
  transition: transform .2s ease-in-out;
}

.coffee-card-link:hover {
  border-radius: .6rem;
  box-shadow: 5px 5px 5px grey, -2px 0 5px lightgrey;
  transform: scale(1.01);
}

@media screen and (max-width: 85.5rem) {
  .landing-coffee-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 63.5rem) {
  .landing-coffee-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 42.5rem) {
  .landing-coffee-container {
    grid-template-columns: 1fr;
  }
}
