
.coffee-detail-page-whole {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  margin-left: 3%;
  margin-right: 3%;
  row-gap: 10px;
  margin-top: 30px;
}

.coffee-detail-page-upper {
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 20px;
}

.coffee-detail-page-img-wrapper {
  position: relative;
  display: inline-block;
}

.coffee-detail-page-imgs {
  width: 100%;
}

.coffee-detail-page-preview-img {
  position: block;
  width: 100%;
  max-width: 900px;
}

.coffee-detail-page-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#coffee-detail-page-product-name {
  margin-top: 0;
}
.coffee-detail-page-imgs-fav-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.coffee-detail-page-right button {
  background-color: white;
  border: 1px, solid, black;
  height: 30px;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 10px;
}

.coffee-detail-page-toggle-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 50px;
  width: 300px;
  border-radius: 10px;
}

.coffee-detail-page-toggle-block h2 {
  flex-grow: 1;
  margin-right: 10px;
  padding-left: 5px;
}

.coffee-detail-page-toggle-block span {
  margin-right: 10px;
}

.coffee-detail-page-toggle-block:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.coffee-detail-toggle-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coffee-detail-red-heart {
  color: #B50330;
}

.fav-disabled-button {
  display: none;
}




