.footer-footer {
    background-color: burlywood;
    display: flex;
    min-height: 80px;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 0px;
    padding: 0%;
}

.inner-footer-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 82.75rem;
    align-items: center;
}

.personal-div-individual {
    display: flex;
}

.personal-div-inner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal-images {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: 15px;
}

.icons-for-individual > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-top: 5px;
}

.icons-for-individual > a:hover {
    color: brown;
    transition: color 0.3s;
}

.icons-for-individual {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
