.profile-signup-modal {
  width: fit-content;
  padding-left: 50px;
  padding-right: 50px;
  width: 250px;
}

.signup-modal-whole {
  text-align: center;
}

.signup-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
}

.signup-modal-form input {
  height: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.signup-modal-form button {
  background-color: #D7AC7F;
  border: 1px, solid, black;
  height: 40px;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 20px;
  width: 100%;
}

.signup-modal-form p {
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}
