.manage-coffee-card-container{
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
}

.manage-coffee-card{
    width: 230px;
    margin: 10px;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.manage-coffee-card:hover {
    border-radius: .6rem;
    box-shadow: 5px 5px 5px grey, -2px 0 5px lightgrey;
    transform: scale(1.01);
}

.manage-coffee-card-no-button{
    border-radius: 10px;
}

.manage-coffees-image {
    width: 100%;
    border-radius: 10px;
}

.manage-coffee-card-details{
    margin: 5px;
}

@media screen and (max-width: 1200px) {
    /* make cards a certain size to fit only 2 */
    .manage-coffee-card{
        width: 24%;
    }
}

.manage-coffee-banner {
    text-align: center;
}

.manage-coffee-button:hover {
    cursor: pointer;
}

.manage-coffee-button {
    height: 30%;
}

.manage-coffee-card-container button {
    cursor: pointer;
    margin-right: 10px;
}

.manage-coffee-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.manage-coffee-no-exsited-coffee {
    display: flex;
    align-items: center;
    gap:10px;
}
