.profile-dropdown {
  position: absolute; 
  top: 25px;
  right: 150px;
}

.button-wrapper {
  position: relative;
  display: inline-block;
}

.nav-bar-the-real-bar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #d7ac7f;
}

.nav-bar-inside-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1324px;
}

.nav-bar-left-side{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-bar-left-side h1 {
  margin: 0px;
}

.nav-bar-right-side > * {
  display: flex;
  margin: 5px;
  gap: 10px;
  align-items: center;
}

.nav-bar-icon{
  height: 40px;
  border-radius: 20px;
  margin-right: 5px;
}

.no-bullets-li{
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 9px;
}


.no-text-style{
  text-decoration: none;
  color: black;
}

.user-drop-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 100;
  background-color: white;
  gap:7px;
  width: fit-content;
  min-width: 130px;
}

.nav-bar-icons {
  font-size: 30px;
  cursor: pointer;
}

.nav-bar-icon-buttons {
  background-color: none;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  transition: background-color 0.1s;
}

.nav-bar-icon-buttons:hover {
  background-color: #f2eedc;
}

.nav-bar-new-block {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 2px;
}

.nav-bar-new-img-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:5px;
}

.profile-drop-down-logout {
  background-color: #d7ac7f;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}

.profile-drop-down-login-signup li{
  cursor: pointer;
}

.profile-drop-down-login-signup {
  right: 10px;
}

#nav-bar-cart-icon {
  font-size: 1.7rem;
}

.nav-bar-right-side {
  display: flex;
  align-items: center;
}
